<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title> Women's Clothing .</title>
</head>
<body id="products">
    <header id="header">
        <h1>  women's Clothing .</h1>
    </header>
    <div id="allproducts"> </div>
                  
<script>
    let request = new XMLHttpRequest();
    let apilink ="https://fakestoreapi.com/products/category/women\'s clothing";
    request.open("GET", apilink);
    request.responseType = "json";
    request.send();
    request.onload = function() {
        if (request.status >= 200 && request.status < 300) {
            let products = request.response;
            const womenproducts = document.getElementById('allproducts');

            products.forEach(product => {
                const productDiv = document.createElement('div');
                productDiv.innerHTML = `
                    <h1>${product.title}</h1>
                    <img src="${product.image}">
                    <p>${product.price}</p>
                `;
                womenproducts.appendChild(productDiv);
                productDiv.addEventListener('click', () => {
                    window.location.href =`product_details.html?id=${product.id}`;
                });
            });
        } else {
            alert("Error fetching products");
        }
    };
</script>
</body>
</html>